.titulo {
  color: #fff;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #a1329d;
  padding: 10px;
  margin: 15px;
}
.titulo:hover{
  background-color: #70256e;
}
.links {
  text-decoration: none;
  color: white;
}
.imagen {
  float: left;
  padding: 15px;
  height: 250px;
  width: 250px;
}
.imgvector {
  float: left;
  padding-top: 3px;
  height: 20px;
  width: 25px;
}
.imgcorreo {
  float: left;
  padding-top: 5px;
  padding-left: 3px;
  padding-right: 5px;
  height: 15px;
  width: 20px;
}
.info, .infocontacto {
  color: #a1329d;
  margin: 0px;
  font-size: 20px;
}
.info20años {
  margin-top: 30px;
}
.subtitulos{
  color: #a1329d;
  text-decoration: underline;
  font-weight: 700;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  margin: 40px 0 30px 15px;
}


.contenedores {
  color: #fff;
  display: inline-flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 600;
  background-color: #a1329d;
  height: 50px;
  width: 250px;
  margin-top: 15px;
  justify-content: space-around;
  margin-left: 15px;
  border-radius: 20px;
  align-items: center;
}
.contenedores:hover{
  background-color: #70256e;
}

  @media screen and (max-width: 548px) {
    .imagen {
      margin-right: 250px;
    }
    .subtitulos{
      margin: 20px 0 30px 15px;
    }
    .info, .infocontacto {
      margin-left: 10px;
    }
  }
